<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="style.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div id="maincontainer">
        <section id="sectionOne">
            <img src="imgs/ink.jpg" id="logo">
            <ul>
                <li>Portfolio</li>
                <li>About Us</li>
                <li>Blog</li>
                <li>Buy this theme</li>
            </ul>
            <div id="socialLinks">
                  <img src="imgs/internet.png">
                  <img src="imgs/twitter.png">
                  <img src="imgs/vimeo.png">
            </div>
            <article>
                <header>A text Widget</header>
                <p>Lorem impsum dolor sit amet, lorem ipsum dolor sit amet amit doloe sit ,
                    dolor ipsum set amit dolor
                </p>
            </article>
            <h4>Flicker</h4>
            <div id="flicker">
                <img src="imgs/1.jpg">
                <img src="imgs/2.jpg">
                <img src="imgs/3.jpg">
                <img src="imgs/4.jpg">
                <img src="imgs/5.jpeg">
                <img src="imgs/6.jpg">
                
            </div>
        </section>
        <section id="sectionTwo">
           
                    <nav id="mainnav">
                        
                        <ul>
                            <a>All</a>
                            <a>Illustration</a>
                            <a>Motion</a>
                            <a>Photography</a>
                            <a>Print</a>
                        </ul>
                    </nav>
            <div id="divOne">
                <img src="imgs/1.jpg">
                <img src="imgs/2.jpg">
                <img src="imgs/3.jpg">
                <img src="imgs/4.jpg">
            </div>
            <div id="divTwo">
                <img src="imgs/5.jpeg">
                <img src="imgs/6.jpg">
                <img src="imgs/7.jpg">
                <img src="imgs/8.jpg">
            </div>
            <div id="divThree">
                <img src="imgs/9.jpg">
                <img src="imgs/10.jpg">
                <img src="imgs/11.jpg">
                <img src="imgs/12.jpg">
            </div>
        </section>
    </div>
</body>
</html>