<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="layout.css" rel="stylesheet">
    <link href="portrait.css" rel="stylesheet" media="all and (orientation:portrait)"/>
    <title>Document</title>
</head>
<body>
    <nav id="mainnav"> 
                        
        <ul>
            <li><a>Home</a></li>
            <li><a>Contact</a></li>
            <h2>ITI Admission System</h2>
            <li><a>About</a></li>
            <li><a>Gallery</a></li>
        </ul>
    </nav>
    <div class="cover">
        <h2>Welcome to ITI<br>Be one of Us</h2>
        <button>Register</button>
    </div>
    <div class="intro">
        <div class="intro-img">
            <img src="imgs/3.jpg" title="life here">
        </div>
        <div class="intro-text">
            <p><a href="#">Events</a></p>
            <p><a href="#">Courses</a></p>
            <p><a href="#">Outings</a></p>
            <p><a href="#">Careers</a></p>

        </div>

    </div>
    <div class="tracks">
        <div>
            <img src="imgs/3.jpg">
            <p>for more details <a href="#">Click here</a></p>
        </div>
        <div>
            <img src="imgs/3.jpg">
            <p>for more details <a href="#">Click here</a></p>
        </div>
    
    <div>
        <img src="imgs/3.jpg">
        <p>for more details <a href="#">Click here</a></p>
    </div>
    
    <div>
        <img src="imgs/3.jpg">
        <p>for more details <a href="#">Click here</a></p>
    </div>
    </div>


</body>
</html>